flows/bluemixbananaflow.json
[{"id":"17f59098.46468f","type":"http in","z":"d1465022.2eb9b","name":"Input from Bluemix Banana","url":"/cloudbit","method":"post","swaggerDoc":"","x":130.4499969482422,"y":296,"wires":[["5c035c32.9f64ac","e73b3458.cec578","65923c84.2fd8c4","a2f88b22.f486b8"]]},{"id":"f104559f.62ee1","type":"function","z":"d1465022.2eb9b","name":"Prepare tweet","func":"msg.media = msg.payload;\nmsg.payload = 'Enjoy 2016!! #Bluemix banana. ' + context.global.i + ' visits today. Powered by #littlebits and #IBMBluemix via @EdCig001';\n\ncontext.global.i = context.global.i + 1;\n\nreturn msg;","outputs":1,"noerr":0,"x":803.6038360595703,"y":213.99998474121094,"wires":[["b95a3a36.065a48","6e7959bb.a73d18"]]},{"id":"b95a3a36.065a48","type":"debug","z":"d1465022.2eb9b","name":"","active":false,"console":"false","complete":"false","x":967.6038970947266,"y":158.99998474121094,"wires":[]},{"id":"46221ffc.6a86b8","type":"http request","z":"d1465022.2eb9b","name":"Send output to CloudBit","method":"POST","ret":"obj","url":"https://api-http.littlebitscloud.cc/v2/devices/<device_id>/output","x":663.6038360595703,"y":374,"wires":[[]]},{"id":"5c035c32.9f64ac","type":"function","z":"d1465022.2eb9b","name":"Prepare Cloudbit trigger","func":"percentage = msg.payload.payload.percent; // First store percent value of received message\nmsg={}; // Empty message for HTTP call to Cloudbit\n\nnode.log('percentage:' + percentage);\n\n// Set headers for HTTP call to Cloudbit\nmsg.headers = {\n    \"Authorization\" : \"Bearer <your_access_token>\",\n    \"Content-type\" : \"application/json\"\n};\n\n// Set message body for HTTP call to Cloudbit\nmsg.payload = {\n  \"percent\": percentage,\n  \"duration_ms\": \"5000\"\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":412.6038360595703,"y":374,"wires":[["46221ffc.6a86b8"]]},{"id":"7012549f.d62cbc","type":"inject","z":"d1465022.2eb9b","name":"Trigger reset","topic":"","payload":"","payloadType":"none","repeat":"","crontab":"00 07 * * *","once":false,"x":115.60383605957031,"y":61,"wires":[["b300bd23.a714a"]]},{"id":"b300bd23.a714a","type":"function","z":"d1465022.2eb9b","name":"Reset counter","func":"context.global.i = 1;\nreturn msg;","outputs":"0","noerr":0,"x":373.6038360595703,"y":61,"wires":[]},{"id":"e73b3458.cec578","type":"debug","z":"d1465022.2eb9b","name":"","active":false,"console":"false","complete":"false","x":378.6038360595703,"y":437,"wires":[]},{"id":"96e2824.b97058","type":"http request","z":"d1465022.2eb9b","name":"Get image","method":"use","ret":"bin","url":"","x":621.0538482666016,"y":214.4499969482422,"wires":[["f104559f.62ee1"]]},{"id":"6e7959bb.a73d18","type":"twitter out","z":"d1465022.2eb9b","twitter":"","name":"Banana Tweets","x":977.0538482666016,"y":263.45001220703125,"wires":[]},{"id":"65923c84.2fd8c4","type":"function","z":"d1465022.2eb9b","name":"Prepare reponse","func":"msg.payload = {};\nmsg.statusCode=204;\n\nreturn msg;","outputs":1,"noerr":0,"x":388.05384826660156,"y":295.45001220703125,"wires":[["ac5a16e3.f54d3"]]},{"id":"ac5a16e3.f54d3","type":"http response","z":"d1465022.2eb9b","name":"OK","x":609.0538482666016,"y":295.45001220703125,"wires":[]},{"id":"a2f88b22.f486b8","type":"function","z":"d1465022.2eb9b","name":"Prep image URL","func":"msg.url = 'http://' + context.global.VCAP_APP.application_uris[0] + '/images/xmas.png';\nmsg.method = 'GET';\n\nnode.log('Application uri: ' + msg.url);\n\nreturn msg;","outputs":1,"noerr":0,"x":389.05384826660156,"y":214.4499969482422,"wires":[["96e2824.b97058"]]}]
