flows/bluemixbananaflow.json
[{"id":"ed598bcb.0944f","type":"http in","name":"Input from Bluemix Banana","url":"/ifttt","method":"post","swaggerDoc":"","x":203,"y":314,"z":"ce53a2a8.da8328","wires":[["e77caa70.7e573","b0e8f1df.9cf77"]]},{"id":"3b1ec7cd.10c318","type":"twitter out","twitter":"","name":"Banana tweets","x":701.1538391113281,"y":277,"z":"ce53a2a8.da8328","wires":[]},{"id":"b0e8f1df.9cf77","type":"function","name":"Prepare tweet","func":"var cloudbitdata = msg.payload;\n//var dt = new Date(msg.payload.timestamp).toISOString().replace(/T/, ' ');\n\nconsole.log('Percentage from cloudbit:' + cloudbitdata.payload.percent);\n\nmsg.payload = '#Bluemix banana touched ' + context.global.i + ' time(s) today. Powered by #littlebits and @EdCig001 '\ncontext.global.i = context.global.i + 1;\n\nreturn msg;","outputs":1,"noerr":0,"x":467.1538391113281,"y":229,"z":"ce53a2a8.da8328","wires":[["9e2ea435.abcc","3b1ec7cd.10c318"]]},{"id":"9e2ea435.abcc","type":"debug","name":"","active":true,"console":"false","complete":"false","x":694.1538391113281,"y":189,"z":"ce53a2a8.da8328","wires":[]},{"id":"952e1425.4e0888","type":"http request","name":"Send output to CloudBit","method":"POST","ret":"obj","url":"https://api-http.littlebitscloud.cc/v3/devices/<deviceid>/output","x":727.1538391113281,"y":392,"z":"ce53a2a8.da8328","wires":[[]]},{"id":"e77caa70.7e573","type":"function","name":"Prepare response","func":"percentage = msg.payload.percent; // First store percent value of received message\nmsg={}; // Empty message for HTTP call to Cloudbit\n\nnode.log('percentage:' + percentage);\n\n// Set headers for HTTP call to Cloudbit\nmsg.headers = {\n    \"Authorization\" : \"Bearer <your_token>\",\n    \"Content-type\" : \"application/json\"\n};\n\n// Set message body for HTTP call to Cloudbit\nmsg.body = {\n  \"percent\": percentage,\n  \"duration_ms\": \"5000\"\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":476.1538391113281,"y":392,"z":"ce53a2a8.da8328","wires":[["952e1425.4e0888"]]},{"id":"e0809f4.09053e","type":"inject","name":"Trigger reset","topic":"","payload":"","payloadType":"none","repeat":"","crontab":"00 07 * * *","once":false,"x":158.15383911132812,"y":79,"z":"ce53a2a8.da8328","wires":[["bc3ddbf3.f4367"]]},{"id":"bc3ddbf3.f4367","type":"function","name":"Reset counter","func":"context.global.i = 1;\nreturn msg;","outputs":"0","noerr":0,"x":416.1538391113281,"y":79,"z":"ce53a2a8.da8328","wires":[]}]